<div class="container" ng-init="loadUserBlog()">

  <div class="row">

    <!--SIDEBAR-->

    <div class="col-md-4">
      
      <!-- FILTER POSTS SEARCH-->
      <div class="well">
        <h4>Filter My Posts</h4>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="query">
          <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
        </div>
        <!-- /.input-group -->
      </div>

      <!-- SIDEBAR CATEGORIES -->
      <div class="well">
        <h4>My Popular Categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Javascript</a>
              </li>
              <li><a href="#">Ruby</a>
              </li>
              <li><a href="#">Python</a>
              </li>
              <li><a href="#">PHP</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Mongo</a>
              </li>
              <li><a href="#">Neo4J</a>
              </li>
              <li><a href="#">MySQL</a>
              </li>
              <li><a href="#">PostgreSQL</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.row -->
      </div>

      <!-- SIDEBAR RANDOM WIDGET -->
      <div class="well">
        <h4>Latest from WafflePress</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
      </div>

      <!--SIDEBAR IMAGES-->
      <div class="well">
        <h4>Latest Image Uploads</h4>
        <div class="img-thumbnail img-responsive">
          <img src="http://placehold.it/145x145" alt="...">
        </div>
        <div class="img-thumbnail img-responsive">
          <img src="http://placehold.it/145x145" alt="...">
        </div>
        <div class="spacer">
        </div>
        <div class="img-thumbnail img-responsive">
          <img src="http://placehold.it/145x145" alt="...">
        </div>
        <div class="img-thumbnail img-responsive">
          <img src="http://placehold.it/145x145" alt="...">
        </div>
        <!-- /.input-group -->
      </div>

    </div>
    <!-- DASHBOARD AREA -->
    <div class="col-lg-8">
      <div class="well">
        <!--<h1 class="dashboard-header">{{ getRandomName() }}'s Dashboard</h1>-->
        
        <h1 class="dashboard-header">{{blogAuthor}}'s Waffleboard<span class="pull-right badge post-count">{{posts.length}}</span></h1>

      </div>
      <div>
      <!-- <div ng-init="getAllPosts()"> -->
        <!--LIST OF USER POSTS -->
        <ul class="list-group">
          <!--<button ng-click="getAllPosts()">Get Posts</button>-->
          <li class="list-group-item" ng-repeat="post in posts | filter:query | orderBy:-'post.created'">
            <!--FAKE COMMENT COUNT-->
            <span class="badge">{{ getRandomSpan() }}</span>
            <h2><a ng-click="savePostInfo()" href="#/post">{{post.title}}</a></h2>
            <!--POST CREATION DATE-->
            <p class="date">
              <span class="glyphicon glyphicon-time"></span> 
                Posted on {{ post.created | date }} at {{ post.created | date: 'shortTime'}}
            </p>
            <!--POST SNIPPET-->
            <p class="snippet">{{post.content | limitTo : 200}} ...
              <a ng-show="true" class="read-more" href="#/post" role="button" ng-click="savePostInfo()">
                <span class="glyphicon glyphicon-hand-right">
              </a>
            </p>
          </li>
        </ul>
      </div>
      <!--PAGINATION-->
      <nav ng-if="posts.length > 5">
        <ul class="pager">
          <li><a href="#">Previous</a>
          </li>
          <li><a href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
