<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand waffleLogo" href="#"><img align='left' src='http://www.wpclipart.com/food/breakfast/waffle/waffle_round_small.png' style='width: 40px; height: 40px'><a class="navbar-brand waffleName">Waffle Press</a></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div ng-controller='NavController' class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="signedIn()">
        <p class="navbar-text">{{ user.profile.username }}</p>
      </li>
      <li ng-if="signedIn()">
        <a ng-href="#/users/{{ user.profile.uid }}">
          {{ currentUser.username }}
        </a>
      </li>
      <li ng-if="signedIn()">
        <a href="#" ng-click="logout()">Logout</a>
      </li>
      <li ng-if="!signedIn()">
        <a href="#/login">Login</a>
      </li>
      <li ng-if="!signedIn()">
        <a href="#/signup">Register</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
