<style type="text/css">
    textarea { border: none; }
</style>
<div class='container'>

	<form role="form" align="center">
	  <div class="form-group">
	    <textarea ng-model="title" class="title" placeholder='"My Waffle Post"'></textarea>
	  </div>
	  <div class="form-group">
	    <textarea ng-model="content" class="content" placeholder='Write tasty thoughts here..'></textarea>
	  </div>
	  <input ng-if="!isUpdate"class="btn btn-sm btn-primary pressBtn" ng-click="submit(title, content)" value="Press New" type="submit" />
	  <input ng-if="isUpdate"class="btn btn-sm btn-success pressBtn" ng-click="updatePost(title, content)" value="Update" type="submit" />
	</form>
</div>

<script type="text/javascript">
function noenter() {
  return !(window.event && window.event.keyCode == 13); }
</script>
