<style type="text/css">
    textarea { border: none; }
</style>

<form align="center" ng-submit="submit(title, content)">
	<textarea ng-model="title" class="title" style="margin-top:25px; border:none; resize:none; width:60%; height:25px; font-size:15pt; font-family:Arial;"></textarea>
	<br>
  <textarea ng-model="content" class="content" style="margin-top:15px; border:none; resize:none; width:60%; height:500px; font-size:15pt; font-family:Arial;"></textarea>
  <br>
  <button>Post</button>
</form>

<script type="text/javascript">
function noenter() {
  return !(window.event && window.event.keyCode == 13); }
</script>




<!-- fill input with clicked post -->
<!-- add ng-controller -->