<!--TODO: Only render posts if user logged in. And user their username.-->
<div class="container">

  <div class="row">

    <!--SIDEBAR-->

    <div class="col-md-4">

      <!-- Sidebar Search-->
      <div class="well">
        <h4>Filter My Posts</h4>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="query">
          <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                 <span class="glyphicon glyphicon-search"></span>
          </button>
          </span>
        </div>
        <!-- /.input-group -->
      </div>

      <!-- Sidebar Categories Well -->
      <div class="well">
        <h4>My Popular Categories</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Javascript</a>
              </li>
              <li><a href="#">Ruby</a>
              </li>
              <li><a href="#">Python</a>
              </li>
              <li><a href="#">PHP</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Mongo</a>
              </li>
              <li><a href="#">Neo4J</a>
              </li>
              <li><a href="#">MySQL</a>
              </li>
              <li><a href="#">PostgreSQL</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.row -->
      </div>

      <!-- Side Widget Well -->
      <div class="well">
        <h4>Latest from WafflePress</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
      </div>

    </div>
    <!-- Dashboard Area -->
    <div class="col-lg-8">
      <div class="well">
        <h1 class="dashboard-header">{{ getRandomName() }}'s Dashboard</h1>
      </div>
      <div ng-init="getAllPosts()">
        <ul class="list-group">
          <!--<button ng-click="getAllPosts()">Get Posts</button>-->
          <li class="list-group-item" ng-repeat="post in posts | filter:query | orderBy:-'post.created'">
            <span class="badge">{{ getRandomSpan() }}</span>
            <h2><a ng-click="savePostInfo()" href="#/post">{{post.title}}</a></h2>
            <p class="date"><span class="glyphicon glyphicon-time"></span> Posted on {{ post.created | date : format : timezone}} at 9:00 PM</p>
            <p class="snippet">{{post.content | limitTo : 200}} ...
              <a ng-show="true" class="read-more" href="#/post" role="button" ng-click="savePostInfo()">Read more</a>
            </p>
            <a ng-show="true" href="#/edit" ng-click="savePostInfo()">Edit</a>
          </li>
        </ul>
      </div>
      <nav ng-if="posts.length > 5">
        <ul class="pager">
          <li><a href="#">Previous</a>
          </li>
          <li><a href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
