<!--TODO: Only render posts if user logged in. And user their username.-->
<div ng-init="getAllPosts()"class="container posts-page">

<!--<button ng-click="getAllPosts()">Get Posts</button>-->
  <div class="postRow" ng-repeat="post in posts.slice().reverse()">
    <div ng-model="post">
      <a href="#/post"><h2 class="dashTitles">{{post.title}}</h2></a>
      <a ng-show="true" class="dashEdit" href="#/edit" ng-click="savePostInfo()">Edit</a>
    </div>
  </div>

  <div class="space"></div>

</div>

