<div class="auth-forms">
  <h2>Log In</h2>

  <form ng-submit="login(username,password)">
    <div class="form-group">
      <input type="text" class="username form-control" placeholder="Username" ng-model="username"></input>
    </div>
    <div class="form-group">
      <input type="password" class="password form-control" placeholder="Password" ng-model="password"></input>
    </div>
    <input class="btn btn-primary" value="Log in" type="submit"></input>
  </form>


  <!--  <button class="btn btn-success" ng-click="logout()">Logout</button> -->
  <br/>
  <br/>
  <a href="/#/signup">Create an Account &rarr;</a>
</div>
